@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    line-height: 1.5em;
    font-family: "Lato";
    background-image: url("http://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg");
}

.timer {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.startButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 7px #999;
    border-radius: 15px;
    outline: none;
}

.startButton:hover {
    background-color: #6fbf72;
    cursor: pointer
}

.startButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.stopButton {
    background-color: #af504c;
    border: none;
    color: white;
    margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    outline: none;
}

.stopButton:hover {
    background-color: #c78481;
    cursor: pointer
}

.stopButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pomodoro {
    width: 36%;
    text-align: center;
    margin: 75px auto;
}
